.table-filters {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 26px;
}

.table-filters .filters-button {
	display: flex;
	align-items: center;
	gap: 10px;
}

.table-filters .search-input {
	width: 320px;
	height: 44px;
}

section.table .ant-table-wrapper {
	border: 1px solid #eaecf0;
	box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
	border-radius: 8px;
}

section.table .ant-table-thead {
	height: 44px;
}

section.table .ant-table-thead .ant-table-cell,
section.table .ant-table-thead .ant-table-cell:hover {
	background-color: white;
}

section.table .ant-table-thead .ant-table-cell,
section.table .ant-table-thead .ant-table-cell .ant-table-column-title {
	color: #667085;
	font-weight: 500;
}

section.table .ant-table-thead .ant-table-cell::before {
	display: none;
}

section.table .ant-table-column-sorters {
	display: inline-flex;
}

section.table .ant-table-column-sorters .ant-table-column-sorter {
	margin-inline-start: 8px;
	display: none;
}

section.table .ant-table-tbody tr:nth-child(odd) {
	background-color: #f9fafb;
}

.company-column-title {
	display: flex;
	align-items: center;
	gap: 8px;
}

.company-column-title svg {
	transition: all 0.3s ease;
}

.company-column-title svg.up {
	transform: rotate(180deg);
}

.company-cell {
	display: flex;
	gap: 12px;
	align-items: center;
	vertical-align: unset;
}

.company-cell img {
	width: 40px;
	height: auto;
	object-fit: cover;
	vertical-align: unset;
}

.company-cell p {
	display: flex;
	flex-direction: column;
	font-weight: 500;
	font-size: 14px;
	color: #101828;
	line-height: 20px;
}

.company-cell p span {
	color: #667085;
	font-weight: 400;
}

.about {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: var(--main);
}
.about em {
	color: #667085;
}

.greenStatus,
.greyStatus {
	padding: 2px 8px;
	border-radius: 16px;
	max-width: 80px;
}
.greenStatus {
	background: #ecfdf3;
}
.greyStatus {
	background: #f2f4f7;
}

section.table .ant-table-selection-column {
	padding-left: 24px !important
  ;
}

/* Checkbox */

section.table .ant-checkbox-inner {
	width: 20px;
	height: 20px;
	border-radius: 6px;
	border: 1px solid #d0d5dd;
}
section.table .ant-checkbox:hover .ant-checkbox-inner {
	border-color: var(--purple);
	background-color: #f9f5ff;
}

section.table .ant-checkbox-inner:hover .ant-checkbox-inner {
	border-color: var(--purple);
}

section.table .ant-checkbox-checked .ant-checkbox-inner {
	background-color: #f9f5ff;
	border: 1px solid var(--purple);
}
.ant-table-row {
}

/* :hover  {
	background-color: #f9f5ff;
	border: 1px solid var(--purple);
} */

section.table .ant-checkbox-checked .ant-checkbox-inner::after {
	border-color: var(--purple);
	border: 0;
	width: 14px;
	height: 14px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.667 3.5 5.25 9.917 2.333 7' stroke='%237F56D9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.ant-checkbox-wrapper .ant-checkbox-indeterminate .ant-checkbox-inner::after {
	border-color: var(--purple);
	border: 0;
	width: 14px;
	height: 14px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: #f9f5ff;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='none'%3E%3Cpath stroke='%237F56D9' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2.917 7h8.166'/%3E%3C/svg%3E");
}

.ant-checkbox-checked:not(.ant-checkbox-disabled):hover .ant-checkbox-inner {
	background-color: #f9f5ff;
	border: 1px solid var(--purple);
}

section.table .ant-pagination {
	padding: 16px 24px !important;
	gap: 12px !important;
	margin: 0 !important;
}

section.table .ant-pagination-prev,
section.table .ant-pagination-next {
	height: unset !important;
}

section.table .ant-pagination-prev button::before,
section.table .ant-pagination-next button::before {
	display: inline-flex;
	padding: 8px 14px;
	height: 36px;
	background: #ffffff;
	border: 1px solid #d0d5dd;
	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
	border-radius: 8px;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #344054;
}

section.table [title='Previous Page'] button::before {
	content: 'Previous';
}

section.table [title='Next Page'] button::before {
	content: 'Next';
}

section.table [title='Previous Page'] button svg,
section.table [title='Next Page'] button svg,
section.table .ant-pagination-item {
	display: none;
}

/* checkbox  */
/* .checkbox-wrapper input[type='checkbox'] {
	cursor: pointer;
	opacity: 0;
	position: absolute;
}

.checkbox-wrapper label {
	display: flex;
	cursor: pointer;
}
.checkbox-wrapper label::before {
	content: '';
	width: 20px;
	height: 20px;
	background: #ffffff;
	border: 1px solid #d0d5dd;
	border-radius: 6px;
}

.checkbox-wrapper label:hover::before,
.checkbox-wrapper input[type='checkbox']:hover + label::before {
	border: 1px solid #7f56d9;
}

.checkbox-wrapper input[type='checkbox']:checked + label::before {
	content: '';
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='none'%3E%3Cpath stroke='%237F56D9' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M11.667 3.5 5.25 9.917 2.333 7'/%3E%3C/svg%3E");
	background-position: center;
	background-repeat: no-repeat;

	border: 1px solid #7f56d9;
} */
